* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241, 241, 241);
  color: black;
  font-family: "Abel", sans-serif;
  min-height: 100vh;
  transition: all 0.5s ease;
}
h1 {
  background: linear-gradient(124.11deg, #e7a28f 3.52%, #ecc79a 41.89%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
header {
  font-size: 1.5rem;
}
.header-input {
  display: flex;
  border-radius: 18px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.07);
  height: 75px;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;

  font-family: "Abel", sans-serif;
}
form input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
form input:focus {
  outline: none;
}
form button {
  color: rgb(65, 65, 65);
  background: white;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.5s ease;
  outline: none;
}
form button:hover {
  color: #e7a28f;
}

select {
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
  outline: none;
  border: none;
  width: 7.5rem;
  cursor: pointer;
  font-family: "Abel", sans-serif;
}
select:focus {
  outline: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1280px) {
  .todo-list {
    min-width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .todo-list {
    min-width: 80%;
  }
}
.todo {
  margin: 1rem;
  height: 60px;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.03);
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: transparent;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}
.trash-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-right: 7px;
}
.complete-btn:hover,
.trash-btn:hover {
  background: rgb(243, 243, 243);
  border-radius: 8px;
}

.todo-item {
  padding: 0rem 0.5rem;
}
.completed {
  text-decoration: line-through;
  transition: all 0.5s ease;
  opacity: 0.5;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.fa-trash {
  color: #dc2e3a;
}
.fa-check {
  color: green;
}
.darkmode .fa-trash {
  color: white;
}
.darkmode .fa-check {
  color: white;
}
.deleteTxt {
  margin: 0 !important;
}
.dark-mode {
  background-color: rgb(29, 29, 29);
  color: white;
  transition: all 0.5s ease;
}
.darkmodeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.fa-moon,
.fa-sun {
  transition: all 0.5s ease;
  cursor: pointer;
}
.fa-moon:hover {
  transform: scale(1.05);
}
.darkmode {
  background: rgb(46, 46, 46) !important;
  color: white !important;
}
.darkmode .complete-btn {
  background: transparent;
}
.darkmode .trash-btn {
  background: transparent;
}
.darkmode .complete-btn:hover,
.darkmode .trash-btn:hover {
  background: rgb(70, 70, 70);
  border-radius: 8px;
}
.fall {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  position: absolute;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  color: rgb(201, 201, 201);
  transition: all 0.5s ease;
}
.select:hover::after {
  color: #d88771;
}
.filter-todo {
  font-size: 1rem;
  color: gray;
  background: transparent;
}
.empty {
  display: flex;
  justify-content: center;
}
.empty p {
  font-size: 1.5rem;
  opacity: 0.2;
}
.is-flex {
  display: flex;
}
.is-hidden {
  display: none;
}
